
body {

    background-color: #05070d;
    font-family: Arial, Helvetica, sans-serif;
    color: #f4ecd8;
}

/* targets everything */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* button stlyes */

.back-btn {

    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background-color: #0c1018;
    color: #f4ecd8;
    border: 2px solid;
    padding: 0.8rem 1.4rem;
    border-color: #c89b3c;
    cursor: pointer;
    font-weight: bold;
}

.rules-btn {

    width: 180px;
    height: 55px;
    font-size: 20px;
    background-color: #0c1018;
    color: #f4ecd8;
    border: 2px solid;
    border-color: #c89b3c;
    cursor: pointer;
    font-weight: bold;
}

.game-btn {

    width: 330px;
    height: 110px;
    font-size: 24px;
    background-color: #0c1018;
    color: #f4ecd8;
    border: 2px solid;
    border-color: #c89b3c;
    cursor: pointer;
    font-weight: bold;

}

.reset-btn {
    width: 200px;
    height: 110px;
    background-color: #0c1018;
    color: #f4ecd8;
    border: 2px solid;
    border-color: #c89b3c;
    border-radius: 8px;
    padding: 1rem 1.4rem;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}


/* Main page */

#navigation { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
}

#hero-title {
    text-align: center;
    font-size: 2.5rem;
}

/* Rules page */

#rules-info {

    display: grid;
    place-items: center;
    min-height: 100vh;
    gap: 2rem;
    text-align: center;
    padding: 2rem;
}

.rules-title { 
    font-size: 2.5rem;
}

#rule-container {

    background-color: #0c1018;
    border: 2px solid;
    border-color: #c89b3c;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    text-align: left;
}

#rule-container ol {
    padding: 1.2rem;
}

#rule-container li {
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
}

/* Game page */

#game-board {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    padding: 1rem;
}

#top-hud {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
}

#score {

    background-color: #0c1018;
    border: 2px solid;
    border-radius: 8px;
    padding: 0.8rem 1.4rem;
    border-color: #c89b3c;
    font-weight: bold;
}

#timer {

    background-color: #0c1018;
    border: 2px solid;
    border-radius: 8px;
    padding: 0.8rem 1.4rem;
    border-color: #c89b3c;
    font-weight: bold;
}

#incorrect {
 
    background-color: #0c1018;
    border: 2px solid;
    border-radius: 8px;
    padding: 0.8rem 1.4rem;
    border-color: #c89b3c;
    font-weight: bold;
}


/* border for the cards */
#grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1.2rem;
    margin: 2rem auto;
    width:fit-content;
}

/* Cards */

#grid-container .game-card {
  position: relative;
  width: 4.3rem;
  height: 6.5rem;
  perspective: 1000px;
  cursor: pointer;
}

#grid-container .game-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 2px solid var(--border);
  backface-visibility: hidden;
  transition: transform 0.5s ease;
  object-fit: cover;
}
 
/* card animation */

#grid-container .card-front {
  transform: rotateY(180deg);
}
 
#grid-container .card-back {
  transform: rotateY(0);
}
 
#grid-container .game-card.flipped .card-front {
  transform: rotateY(0);
}
 
#grid-container .game-card.flipped .card-back {
  transform: rotateY(180deg);
}


/* different medias */


/* small devices - 375px */

@media (min-width: 375px) {

    #hero-title {
    font-size: 1.8rem;
  }

  .game-btn {
    width: 240px;
    height: 70px;
    font-size: 20px;
  }
}

.rules-btn {
    width: 140px;
    height: 45px;
    font-size: 16px;
  }

  #grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  #grid-container .game-card {
    width: 3.8rem;
    height: 5.7rem;
  }

  #top-hud {
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 0.9rem;
  }

/* 768 px tablet */


@media (min-width: 768px) {
  #hero-title {
    font-size: 2.5rem;
  }

  .game-btn {
    width: 280px;
    height: 85px;
    font-size: 24px;
  }

  #grid-container {
    grid-template-columns: repeat(5, 1fr);
  }

  #grid-container .game-card {
    width: 4.8rem;
    height: 7.2rem;
  }

  #top-hud {
    flex-wrap: nowrap;
    font-size: 1.1rem;
  }
}

/* 992 px */

@media (min-width: 992px) {
  #hero-title {
    font-size: 3rem;
  }

  .game-btn {
    width: 330px;
    height: 110px;
    font-size: 28px;
  }

  #grid-container {
    grid-template-columns: repeat(7, 1fr);
  }

  #grid-container .game-card {
    width: 5.7rem;
    height: 8.5rem;
  }
}

/* 1440px */

@media (min-width: 1440px) {
  #hero-title {
    font-size: 4rem;
  }

  #grid-container .game-card {
    width: 6.2rem;
    height: 9.2rem;
  }

  #grid-container {
    gap: 1.5rem;
  }
}